<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CerealPotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SerialPotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CerealPotter.Properties.Settings>
            <setting name="regex_pattern" serializeAs="String">
                <value>(\w+),(\d+(\.\d+)?)</value>
            </setting>
            <setting name="serial_port" serializeAs="String">
                <value>COM5</value>
            </setting>
        </CerealPotter.Properties.Settings>
        <SerialPotter.Properties.Settings>
            <setting name="regex_pattern" serializeAs="String">
                <value>(\w),(\d+)</value>
            </setting>
            <setting name="serial_port" serializeAs="String">
                <value>COM5</value>
            </setting>
        </SerialPotter.Properties.Settings>
    </userSettings>
</configuration>